:root {
    --breakpoint-sm: 40rem;
    --color-black: #000;
    --color-blue-100: oklch(0.932 0.032 255.585);
    --color-blue-500: oklch(0.623 0.214 259.815);
    --color-gray-100: oklch(0.967 0.003 264.542);
    --color-gray-200: oklch(0.928 0.006 264.531);
    --color-gray-300: oklch(0.872 0.01 258.338);
    --color-gray-400: oklch(0.707 0.022 261.325);
    --color-gray-50: oklch(0.985 0.002 247.839);
    --color-gray-500: oklch(0.551 0.027 264.364);
    --color-gray-600: oklch(0.446 0.03 256.802);
    --color-gray-700: oklch(0.373 0.034 259.733);
    --color-gray-800: oklch(0.278 0.033 256.848);
    --color-gray-900: oklch(0.21 0.034 264.665);
    --color-green-100: oklch(0.962 0.044 156.743);
    --color-green-500: oklch(0.723 0.219 149.579);
    --color-green-700: oklch(0.527 0.154 150.069);
    --color-lime-600: oklch(0.648 0.2 131.684);
    --color-lime-800: oklch(0.453 0.124 130.933);
    --color-orange-100: oklch(0.954 0.038 75.164);
    --color-orange-500: oklch(0.705 0.213 47.604);
    --color-orange-600: oklch(0.646 0.222 41.116);
    --color-orange-700: oklch(0.553 0.195 38.402);
    --color-purple-100: oklch(0.946 0.033 307.174);
    --color-purple-300: oklch(0.827 0.119 306.383);
    --color-purple-500: oklch(0.627 0.265 303.9);
    --color-purple-600: oklch(0.558 0.288 302.321);
    --color-purple-700: oklch(0.496 0.265 301.924);
    --color-red-100: oklch(0.936 0.032 17.717);
    --color-red-600: oklch(0.577 0.245 27.325);
    --color-red-700: oklch(0.505 0.213 27.518);
    --color-rose-400: oklch(0.712 0.194 13.428);
    --color-sky-300: oklch(0.828 0.111 230.318);
    --color-sky-500: oklch(0.685 0.169 237.323);
    --color-sky-600: oklch(0.588 0.158 241.966);
    --color-slate-400: oklch(0.704 0.04 256.788);
    --color-slate-500: oklch(0.554 0.046 257.417);
    --color-teal-100: oklch(0.953 0.051 180.801);
    --color-teal-500: oklch(0.704 0.14 182.503);
    --color-teal-600: oklch(0.6 0.118 184.704);
    --color-white: #fff;
    --default-font-family: var(--font-sans, initial);
    --default-font-feature-settings: var(--font-sans--font-feature-settings, initial);
    --default-font-variation-settings: var(--font-sans--font-variation-settings, initial);
    --default-mono-font-family: var(--font-mono, initial);
    --default-mono-font-feature-settings: var(--font-mono--font-feature-settings, initial);
    --default-mono-font-variation-settings: var(--font-mono--font-variation-settings, initial);
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --font-mono--font-feature-settings: normal;
    --font-mono--font-variation-settings: normal;
    --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-sans--font-feature-settings: normal;
    --font-sans--font-variation-settings: normal;
    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --form-button-bg-color: var(--color-sky-600);
    --form-button-color: var(--color-white);
    --form-button-hover-bg-color: var(--color-sky-500);
    --form-button-hover-color: var(--color-white);
    --form-button-padding: 0.75rem 1rem;
    --form-field-background-color: var(--color-white);
    --form-field-border-color: var(--color-slate-500);
    --form-field-border-radius: 0.175rem;
    --form-field-border-width: 1px;
    --form-field-check-color: var(--color-sky-500);
    --form-field-color: var(--color-black);
    --form-field-focus-border-width: 0.15rem;
    --form-field-focus-color: var(--color-sky-300);
    --form-field-max-height: 2.8rem;
    --form-field-padding: 0.75rem 0.75rem;
    --form-field-placeholder-color: var(--color-slate-400);
    --leading-tight: 1.25;
    --spacing: 0.25rem;
    --text-2xl: 1.5rem;
    --text-2xl--font-weight: 400;
    --text-2xl--letter-spacing: initial;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-base: 1rem;
    --text-base--font-weight: 400;
    --text-base--letter-spacing: initial;
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 1.125rem;
    --text-lg--font-weight: 400;
    --text-lg--letter-spacing: initial;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-sm: 0.875rem;
    --text-sm--font-weight: 400;
    --text-sm--letter-spacing: initial;
    --text-sm--line-height: calc(1.25 / 0.875);
    --text-xs: 0.75rem;
    --text-xs--font-weight: 400;
    --text-xs--letter-spacing: initial;
    --text-xs--line-height: calc(1 / 0.75);
    --tracking-wide: 0.025em;
}

/*
  1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
  2. Remove default margins and padding
  3. Reset all borders.
*/

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 2 */
  border: 0 solid; /* 3 */
}

/*
  1. Use a consistent sensible line-height in all browsers.
  2. Prevent adjustments of font size after orientation changes in iOS.
  3. Use a more readable tab size.
  4. Use the user's configured `sans` font-family by default.
  5. Use the user's configured `sans` font-feature-settings by default.
  6. Use the user's configured `sans` font-variation-settings by default.
  7. Disable tap highlights on iOS.
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  tab-size: 4; /* 3 */
  font-family: var(--default-font-family); /* 4 */
  font-feature-settings: var(--default-font-feature-settings); /* 5 */
  font-variation-settings: var(--default-font-variation-settings); /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
  1. Add the correct height in Firefox.
  2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
  3. Reset the default border style to a 1px solid border.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
  Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
  Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
  Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

/*
  Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
  1. Use the user's configured `mono` font-family by default.
  2. Use the user's configured `mono` font-feature-settings by default.
  3. Use the user's configured `mono` font-variation-settings by default.
  4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: var(--default-mono-font-family); /* 1 */
  font-feature-settings: var(--default-mono-font-feature-settings); /* 2 */
  font-variation-settings: var(--default-mono-font-variation-settings); /* 3 */
  font-size: 1em; /* 4 */
}

/*
  Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
  Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
  1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
  2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
  3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
  Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
  Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
  Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
  Make lists unstyled by default.
*/

ol,
ul,
menu {
  list-style: none;
}

/*
  1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
  2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
      This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
  Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
  1. Inherit font styles in all browsers.
  2. Remove border radius in all browsers.
  3. Remove background color in all browsers.
  4. Ensure consistent opacity for disabled states in all browsers.
*/

button,
input,
select,
optgroup,
textarea,
::file-selector-button {
  font: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  border-radius: 0; /* 2 */
  background-color: transparent; /* 3 */
  opacity: 1; /* 4 */
}

/*
  Restore default font weight.
*/

:where(select:is([multiple], [size])) optgroup {
  font-weight: bolder;
}

/*
  Restore indentation.
*/

:where(select:is([multiple], [size])) optgroup option {
  padding-inline-start: 20px;
}

/*
  Restore space after button.
*/

::file-selector-button {
  margin-inline-end: 4px;
}

/*
  Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
*/

::placeholder {
  opacity: 1;
}

/*
  Set the default placeholder color to a semi-transparent version of the current text color in browsers that do not
  crash when using `color-mix(…)` with `currentColor`. (https://github.com/tailwindlabs/tailwindcss/issues/17194)
*/

@supports (not (-webkit-appearance: -apple-pay-button)) /* Not Safari */ or
  (contain-intrinsic-size: 1px) /* Safari 17+ */ {
  ::placeholder {
    color: color-mix(in oklab, currentColor 50%, transparent);
  }
}

/*
  Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
  Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
  1. Ensure date/time inputs have the same height when empty in iOS Safari.
  2. Ensure text alignment can be changed on date/time inputs in iOS Safari.
*/

::-webkit-date-and-time-value {
  min-height: 1lh; /* 1 */
  text-align: inherit; /* 2 */
}

/*
  Prevent height from changing on date/time inputs in macOS Safari when the input is set to `display: block`.
*/

::-webkit-datetime-edit {
  display: inline-flex;
}

/*
  Remove excess padding from pseudo-elements in date/time inputs to ensure consistent height across browsers.
*/

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-year-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-meridiem-field {
  padding-block: 0;
}

/*
  Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
  Correct the inability to style the border radius in iOS Safari.
*/

button,
input:where([type='button'], [type='reset'], [type='submit']),
::file-selector-button {
  appearance: button;
}

/*
  Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
  Make elements with the HTML hidden attribute stay hidden by default.
*/

[hidden]:where(:not([hidden='until-found'])) {
  display: none !important;
}

.form-input, .form-textarea, .form-select, .form-multiselect {

    display: block;
    width: 100%;
    appearance: none;
    background-color: var(--form-field-background-color);
    border-color: var(--form-field-border-color);
    border-width: var(--form-field-border-width);
    border-radius: var(--form-field-border-radius);
    padding: var(--form-field-padding);
    color: var(--form-field-color);
    font-size: 1rem;
    line-height: 1.2;

    --sf-shadow: 0 0 #0000;

    &:focus {
        outline: var(--form-field-focus-border-width) solid transparent;
        outline-offset: var(--form-field-focus-border-width);
        --sf-ring-inset: var(--empty, /*!*/ /*!*/);
        --sf-ring-offset-width: 0px;
        --sf-ring-offset-color: #fff;
        --sf-ring-color: var(--form-field-focus-color);
        --sf-ring-offset-shadow: var(--sf-ring-inset) 0 0 0 var(--sf-ring-offset-width) var(--sf-ring-offset-color);
        --sf-ring-shadow: var(--sf-ring-inset) 0 0 0 calc(var(--form-field-focus-border-width) + var(--sf-ring-offset-width)) var(--sf-ring-color);
        box-shadow: var(--sf-ring-offset-shadow), var(--sf-ring-shadow), var(--sf-shadow);
        border-color: var(--form-field-border-color);
    }
}

.form-select {

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2rem;
    print-color-adjust: exact;
    max-height: var(--form-field-max-height);

    &:where([size]:not([size="1"])) {
        background-image: initial;
        background-position: initial;
        background-repeat: unset;
        background-size: initial;
        padding-right: 0.75rem;
        print-color-adjust: unset;
    }
}

.form-input, .form-textarea {

    &::placeholder {
        opacity: 1;
        color: var(--form-field-placeholder-color);
    }    
}

.form-input {

    &::-webkit-datetime-edit-fields-wrapper {
        padding: 0;
    }

    &::-webkit-date-and-time-value {
        text-align: inherit;
    }

    &::-webkit-datetime-edit {
        display: inline-flex;
    }

    &::-webkit-datetime-edit,
    &::-webkit-datetime-edit-year-field,
    &::-webkit-datetime-edit-month-field,
    &::-webkit-datetime-edit-day-field,
    &::-webkit-datetime-edit-hour-field,
    &::-webkit-datetime-edit-minute-field,
    &::-webkit-datetime-edit-second-field,
    &::-webkit-datetime-edit-millisecond-field,
    &::-webkit-datetime-edit-meridiem-field {
        padding-top: 0;
        padding-bottom: 0;
    }

    &:not([type="button"]),
    &:not([type="checkbox"]),
    &:not([type="hidden"]),
    &:not([type="image"]),
    &:not([type="radio"]),
    &:not([type="reset"]),
    &:not([type="submit"]) {
        max-height: var(--form-field-max-height);
    }

}

.form-checkbox, .form-radio {

    display: inline-block;
    appearance: none;
    padding: 0;
    print-color-adjust: exact;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: var(--form-field-check-color);
    background-color: var(--form-field-background-color);
    border-color: var(--form-field-border-color);
    border-width: var(--form-field-border-width);
    cursor: pointer;
    
    --sf-shadow: 0 0 #0000;

    &:focus {
        outline: var(--form-field-focus-border-width) solid transparent;
        outline-offset: var(--form-field-focus-border-width);
        --sf-ring-inset: var(--sf-empty,/*!*/ /*!*/);
        --sf-ring-offset-width: 0rem;
        --sf-ring-offset-color: #fff;
        --sf-ring-color: var(--form-field-focus-color);
        --sf-ring-offset-shadow: var(--sf-ring-inset) 0 0 0 var(--sf-ring-offset-width) var(--sf-ring-offset-color);
        --sf-ring-shadow: var(--sf-ring-inset) 0 0 0 calc(var(--form-field-focus-border-width) + var(--sf-ring-offset-width)) var(--sf-ring-color);
        box-shadow: var(--sf-ring-offset-shadow), var(--sf-ring-shadow), var(--sf-shadow);
    }

    &:checked {
        border-color: transparent;
        background-color: currentColor;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    &:checked:hover, &:checked:focus {
        border-color: transparent;
        background-color: currentColor;
    }
}

.form-checkbox {
    
    border-radius: var(--form-field-border-radius);

    &:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }

    &:indeterminate {
        
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
        border-color: transparent;
        background-color: currentColor;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        
        &:hover, &:focus {
            border-color: transparent;
            background-color: currentColor;
        }
    }
}
    
.form-radio {

    border-radius: 100%;

    &:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
    }
}
    
[type="file"] {

    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit;

    &:focus {
        outline: 1px auto -webkit-focus-ring-color;
    }
}

.form-button {

    display: inline-block;
    background-color: var(--form-button-bg-color);
    border-color: var(--form-button-bg-color);
    color: var(--form-button-color);
    border-radius: var(--form-field-border-radius);
    padding: var(--form-button-padding);
    max-height: var(--form-field-max-height);

    font-size: 1rem;
    line-height: 1.2;
    border-width: 1px;
    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: var(--form-button-hover-bg-color);
        border-color: var(--form-button-hover-bg-color);
        color: var(--form-button-hover-color);
    }
}

.top-16 {
    top: calc(var(--spacing) * 16);
}

.top-16\! {
    top: calc(var(--spacing) * 16) !important;
}

.-top-16 {
    top: calc(var(--spacing) * -16);
}

.-top-16\! {
    top: calc(var(--spacing) * -16) !important;
}

.text-\[0\.75rem\]\/1 {
    font-size: 0.75rem;
    line-height: calc(var(--spacing) * 1);
}

.text-lg\/5 {
    font-size: var(--text-lg);
    line-height: calc(var(--spacing) * 5);
    letter-spacing: var(--text-lg--letter-spacing, initial);
    font-weight: var(--text-lg--font-weight, initial);
}

.text-base\/6 {
    font-size: var(--text-base);
    line-height: calc(var(--spacing) * 6);
    letter-spacing: var(--text-base--letter-spacing, initial);
    font-weight: var(--text-base--font-weight, initial);
}

.flex {
    display: flex;
}

.bg-gray-50 {
    background-color: var(--color-gray-50);
}

.hidden {
    display: none;
}

.bg-white {
    background-color: var(--color-white);
}

.text-gray-500 {
    color: var(--color-gray-500);
}

.text-lg {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height, initial);
    letter-spacing: var(--text-lg--letter-spacing, initial);
    font-weight: var(--text-lg--font-weight, initial);
}

.font-bold {
    font-weight: var(--font-weight-bold);
}

.text-gray-800 {
    color: var(--color-gray-800);
}

.bg-purple-600 {
    background-color: var(--color-purple-600);
}

.inline-flex {
    display: inline-flex;
}

.text-sm {
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height, initial);
    letter-spacing: var(--text-sm--letter-spacing, initial);
    font-weight: var(--text-sm--font-weight, initial);
}

.font-semibold {
    font-weight: var(--font-weight-semibold);
}

.hover\:text-gray-800:hover {
    color: var(--color-gray-800);
}

.font-medium {
    font-weight: var(--font-weight-medium);
}

.text-white {
    color: var(--color-white);
}

.active\:bg-purple-600:active {
    background-color: var(--color-purple-600);
}

.hover\:bg-purple-700:hover {
    background-color: var(--color-purple-700);
}

.bg-black\/50 {
    background-color: color-mix(in srgb, var(--color-black) 50%, transparent);
}

.text-purple-600 {
    color: var(--color-purple-600);
}

.focus-within\:text-purple-500:focus-within {
    color: var(--color-purple-500);
}

.text-gray-700 {
    color: var(--color-gray-700);
}

.bg-gray-100 {
    background-color: var(--color-gray-100);
}

.focus\:bg-white:focus {
    background-color: var(--color-white);
}

.top-0 {
    top: calc(var(--spacing) * 0);
}

.inline-block {
    display: inline-block;
}

.bg-red-600 {
    background-color: var(--color-red-600);
}

.text-gray-600 {
    color: var(--color-gray-600);
}

.hover\:bg-gray-100:hover {
    background-color: var(--color-gray-100);
}

.text-xs {
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height, initial);
    letter-spacing: var(--text-xs--letter-spacing, initial);
    font-weight: var(--text-xs--font-weight, initial);
}

.text-red-600 {
    color: var(--color-red-600);
}

.bg-red-100 {
    background-color: var(--color-red-100);
}

.grid {
    display: grid;
}

.text-2xl {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height, initial);
    letter-spacing: var(--text-2xl--letter-spacing, initial);
    font-weight: var(--text-2xl--font-weight, initial);
}

.text-purple-100 {
    color: var(--color-purple-100);
}

.text-orange-500 {
    color: var(--color-orange-500);
}

.bg-orange-100 {
    background-color: var(--color-orange-100);
}

.text-green-500 {
    color: var(--color-green-500);
}

.bg-green-100 {
    background-color: var(--color-green-100);
}

.text-blue-500 {
    color: var(--color-blue-500);
}

.bg-blue-100 {
    background-color: var(--color-blue-100);
}

.text-teal-500 {
    color: var(--color-teal-500);
}

.bg-teal-100 {
    background-color: var(--color-teal-100);
}

.tracking-wide {
    letter-spacing: var(--tracking-wide);
}

.text-left {
    text-align: left;
}

.leading-tight {
    line-height: var(--leading-tight);
}

.text-green-700 {
    color: var(--color-green-700);
}

.text-orange-700 {
    color: var(--color-orange-700);
}

.text-red-700 {
    color: var(--color-red-700);
}

.bg-blue-500 {
    background-color: var(--color-blue-500);
}

.bg-teal-600 {
    background-color: var(--color-teal-600);
}

.leading-0 {
    line-height: calc(var(--spacing) * 0);
}

.leading-5 {
    line-height: calc(var(--spacing) * 5);
}

.leading-none {
    line-height: 1;
}

@supports ((-webkit-backdrop-filter:blur(0)) or (backdrop-filter:blur(0))) or (-webkit-backdrop-filter:blur(0)) {

    .supports-backdrop-blur\:bg-white\/60 {
        background-color: color-mix(in srgb, var(--color-white) 60%, transparent);
    }

}

@media (width >= 48rem) {

    .md\:block {
        display: block;
    }

    .md\:hidden {
        display: none;
    }

}

@media (min-aspect-ratio: 0.625) {

    .tabp\:top-16 {
        top: calc(var(--spacing) * 16);
    }

    .tabp\:top-16\! {
        top: calc(var(--spacing) * 16) !important;
    }

    .tabp\:-top-16 {
        top: calc(var(--spacing) * -16);
    }

    .tabp\:-top-16\! {
        top: calc(var(--spacing) * -16) !important;
    }

}

@media (prefers-color-scheme: dark) {

    .dark\:bg-gray-900 {
        background-color: var(--color-gray-900);
    }

    .dark\:bg-gray-800 {
        background-color: var(--color-gray-800);
    }

    .dark\:text-gray-400 {
        color: var(--color-gray-400);
    }

    .dark\:text-gray-200 {
        color: var(--color-gray-200);
    }

    .dark\:hover\:text-gray-200:hover {
        color: var(--color-gray-200);
    }

    .dark\:text-gray-100 {
        color: var(--color-gray-100);
    }

    .dark\:text-purple-300 {
        color: var(--color-purple-300);
    }

    .dark\:bg-gray-700 {
        background-color: var(--color-gray-700);
    }

    .dark\:text-gray-300 {
        color: var(--color-gray-300);
    }

    .dark\:hover\:bg-gray-800:hover {
        background-color: var(--color-gray-800);
    }

    .dark\:text-red-100 {
        color: var(--color-red-100);
    }

    .dark\:bg-red-600 {
        background-color: var(--color-red-600);
    }

    .dark\:text-orange-100 {
        color: var(--color-orange-100);
    }

    .dark\:bg-orange-500 {
        background-color: var(--color-orange-500);
    }

    .dark\:text-green-100 {
        color: var(--color-green-100);
    }

    .dark\:bg-green-500 {
        background-color: var(--color-green-500);
    }

    .dark\:text-blue-100 {
        color: var(--color-blue-100);
    }

    .dark\:bg-blue-500 {
        background-color: var(--color-blue-500);
    }

    .dark\:text-teal-100 {
        color: var(--color-teal-100);
    }

    .dark\:bg-teal-500 {
        background-color: var(--color-teal-500);
    }

    .dark\:bg-green-700 {
        background-color: var(--color-green-700);
    }

    .dark\:text-white {
        color: var(--color-white);
    }

    .dark\:bg-orange-600 {
        background-color: var(--color-orange-600);
    }

    .dark\:bg-red-700 {
        background-color: var(--color-red-700);
    }

}

.partial4-test {
    font-weight: 400;
}

.partial3-test {
    font-weight: 300;
}

.partial2-test {
    font-weight: 200;
}

.partial-test {
    font-weight: 100;
}

.test {

    display: block;
    width: var(--breakpoint-sm);
    background-color: var(--color-lime-600);

    font-size: var(--text-base);
    line-height: var(--text-base--line-height, initial);
    letter-spacing: var(--text-base--letter-spacing, initial);
    font-weight: var(--text-base--font-weight, initial);
    color: var(--color-rose-400);
    line-height: calc(var(--spacing) * 6) !important;
    tab-size: 4;
}

@media (width >= 475px) {
    .phablet-bg {
        padding-top: calc(var(--spacing) * 4);
        background-color: oklch(0.274 0.072 132.109 / 0.5);
    }
}

@media (prefers-color-scheme: dark) {
    .dark-bg {
        background-color: var(--color-lime-800);
    }
}

@media (min-aspect-ratio: 0.625) {
    .tabp-display {
        display: inline-block;
    }
}