# Operating System noise files
Thumbs.db
.DS_Store
NetBoot
.com.apple.timemachine.supported
*.swp
*.*~
project.lock.json
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Oo]bj/
[Ll]og/
[Bb]in/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# VS Code
.vscode/*.*

*.razor.css
*.css.map
**/SampleWebsite/wwwroot/css/sfumato.scss
**/SampleWebsite/wwwroot/css/sfumato.css
**/SampleWebsite/wwwroot/css/sfumato.css.map
