:root {

    --form-field-background-color: var(--color-white);
    --form-field-color: var(--color-black);
    --form-field-placeholder-color: var(--color-slate-400);
    --form-field-border-width: 1px;
    --form-field-border-color: var(--color-slate-500);
    --form-field-focus-color: var(--color-sky-300);
    --form-field-check-color: var(--color-sky-500);
    --form-field-focus-border-width: 0.15rem;
    --form-field-focus-border-offset-width: 0;
    --form-field-padding: 0.75rem 0.75rem;
    --form-field-border-radius: 0.175rem;
    --form-field-checkbox-border-radius: 0.25rem;
    --form-field-max-height: 2.8rem;
    --form-field-font-size: 1rem;
    --form-field-line-height: 1.2;
    --form-field-vertical-align: middle;

    --form-button-bg-color: var(--color-sky-600);
    --form-button-color: var(--color-white);
    --form-button-hover-bg-color: var(--color-sky-500);
    --form-button-hover-color: var(--color-white);
    --form-button-border-width: 1px;
    --form-button-padding: 0.75rem 1rem;
    --form-button-border-radius: 0.175rem;
    --form-button-font-size: 1rem;
    --form-button-line-height: 1.2;
}

.form-input, .form-textarea, .form-select, .form-multiselect {

    display: block;
    width: 100%;
    appearance: none;
    background-color: var(--form-field-background-color);
    border-color: var(--form-field-border-color);
    border-width: var(--form-field-border-width);
    border-radius: var(--form-field-border-radius);
    padding: var(--form-field-padding);
    color: var(--form-field-color);
    font-size: var(--form-field-font-size);
    line-height: var(--form-field-line-height);

    --sf-shadow: 0 0 #0000;

    &:focus {

        outline: var(--form-field-focus-border-width) solid var(--form-field-focus-color);
        outline-offset: var(--form-field-focus-border-offset-width, 0px);
        border-color: var(--form-field-border-color);
    }
}

.form-select {

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2rem;
    print-color-adjust: exact;
    max-height: var(--form-field-max-height);

    &:where([size]:not([size="1"])) {
        background-image: initial;
        background-position: initial;
        background-repeat: unset;
        background-size: initial;
        padding-right: 0.75rem;
        print-color-adjust: unset;
    }
}

.form-input, .form-textarea {

    &::placeholder {
        opacity: 1;
        color: var(--form-field-placeholder-color);
    }    
}

.form-input {

    &::-webkit-datetime-edit-fields-wrapper {
        padding: 0;
    }

    &::-webkit-date-and-time-value {
        text-align: inherit;
    }

    &::-webkit-datetime-edit {
        display: inline-flex;
    }

    &::-webkit-datetime-edit,
    &::-webkit-datetime-edit-year-field,
    &::-webkit-datetime-edit-month-field,
    &::-webkit-datetime-edit-day-field,
    &::-webkit-datetime-edit-hour-field,
    &::-webkit-datetime-edit-minute-field,
    &::-webkit-datetime-edit-second-field,
    &::-webkit-datetime-edit-millisecond-field,
    &::-webkit-datetime-edit-meridiem-field {
        padding-top: 0;
        padding-bottom: 0;
    }

    &:not([type="button"]),
    &:not([type="checkbox"]),
    &:not([type="hidden"]),
    &:not([type="image"]),
    &:not([type="radio"]),
    &:not([type="reset"]),
    &:not([type="submit"]) {
        max-height: var(--form-field-max-height);
    }

}

.form-checkbox, .form-radio {

    display: inline-block;
    appearance: none;
    padding: 0;
    print-color-adjust: exact;
    vertical-align: var(--form-field-vertical-align);
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: var(--form-field-check-color);
    background-color: var(--form-field-background-color);
    border-color: var(--form-field-border-color);
    border-width: var(--form-field-border-width);
    cursor: pointer;
    
    --sf-shadow: 0 0 #0000;

    &:focus {

        outline: var(--form-field-focus-border-width) solid var(--form-field-focus-color);
        outline-offset: var(--form-field-focus-border-offset-width, 0px);
    }
    
    &:checked {
        border-color: transparent;
        background-color: currentColor;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    &:checked:hover, &:checked:focus {
        border-color: transparent;
        background-color: currentColor;
    }
}

.form-checkbox {
    
    border-radius: var(--form-field-checkbox-border-radius);

    &:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }

    &:indeterminate {
        
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
        border-color: transparent;
        background-color: currentColor;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        
        &:hover, &:focus {
            border-color: transparent;
            background-color: currentColor;
        }
    }
}
    
.form-radio {

    border-radius: 100%;

    &:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
    }
}

.form-file {

    display: block;
    width: 100%;
    appearance: none;
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: var(--form-field-font-size);
    line-height: var(--form-field-line-height);
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.form-button, .form-file::file-selector-button {

    display: inline-block;
    background-color: var(--form-button-bg-color);
    border-width: var(--form-button-border-width);
    border-color: var(--form-button-bg-color);
    color: var(--form-button-color);
    border-radius: var(--form-button-border-radius);
    padding: var(--form-button-padding);

    font-size: var(--form-button-font-size);
    line-height: var(--form-button-line-height);
    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: var(--form-button-hover-bg-color);
        border-color: var(--form-button-hover-bg-color);
        color: var(--form-button-hover-color);
    }
}

.form-file::file-selector-button {
    margin-right: 0.75rem;
}

.form-label {

    --form-field-vertical-align: text-bottom;
    
    width: fit-content;
    
    .form-checkbox, .form-radio {
        width: calc(var(--spacing) * 4.75);
        height: calc(var(--spacing) * 4.75);
    }
}
