html {

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    font-size: #{zero-font-size};

    $media-breakpoint-font-sizes;
    
    $adaptive-breakpoint-font-sizes;
}

body {

    position: relative;
    font-size: 1rem;
}
