@sfumato base;
@sfumato utilities;

@import "partials/manifest";

.test-applies {
    @apply px-4 translate-y-[100vh] translate-x-full backdrop-blur;
}

.test-values {
    background-color: var(bg-dr05a);
    color: var(text-dr05b);
    padding-top: var(pt-5);
}

@include sf-media($from: $sm-breakpoint) {

    h1 {
        @apply text-2xl/[1.75] font-bold text-black;
    }
}

@include sf-adaptive($mobi-breakpoint) {
    //.xyzABC {
    //    color: red;
    //}
}

@include sf-dark-theme() {

    //.testclass {
    //    background-color: blue;
    //}
    //
    //:root {
    //    background-color: red;
    //}
    //
    //html {
    //    color: yellow;
    //}
}
