@import "partials/_manifest.css";

::sfumato {

    --use-reset: true; /* Inject the CSS reset */
    --use-forms: true; /* Inject form input styles */
    --use-minify: false; /* Compress the output CSS by default */

    --paths: ["../"]; /* Relative paths for project scanning; required */
    --output-path: "sfumato.css"; /* Generated CSS file path; required */
    --not-paths: ["../assets/", "../css/"]; /* Relative paths to exclude content scanning */

    @utility tab-4 {
        tab-size: 4;
    }

    @custom-variant dark (&:where(.theme-dark, .theme-dark *));
}

.test-values {

    @apply animate-spin;

    background-color: --alpha(var(--color-lime-600) / 10%);
    color: var(--color-lime-100);
    padding-top: --spacing(5);
}

@variant sm {
    .test-class {
        @apply text-2xl/[1.75] font-bold text-black tab-4;
    }
}

@variant mobi {
    .text-class {
        color: red;
    }
}

@variant dark {
    .test-class {
        background-color: blue;
    }
}
