@sfumato base;

html {
    font-size: 18px;
}
h1 {
    @apply text-xxl font-heading;
}
h2 {
    @apply text-xl font-heading;
}
h3 {
    @apply text-lg font-heading;
}
a:hover,
button:hover,
input[type='submit']:hover {
    cursor: pointer;
}
*:focus {
    border: 1px solid red;
}
img {
    /* Styling for alt tag if image broken */
    @apply font-display;
}

@sfumato utilities;

#finch-logo {
    display: block;
    width: 150px;
    height: 50px;
    background: url('../assets/logos/finch-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#finch-logo span {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
