@import "partial.css";

::sfumato {

    --use-reset: true; /* Inject the CSS reset */
    --use-forms: true; /* Inject form input styles */
    --use-minify: false; /* Compress the output CSS by default */

    --paths: ["SampleWebsite/wwwroot/"]; /* Relative paths for project scanning; required */
    --output-path: "sfumato.css"; /* Generated CSS file path; required */
    --not-paths: ["SampleWebsite/wwwroot/css/", "SampleWebsite/wwwroot/assets/img/"]; /* Relative paths to exclude content scanning */
}

.test {

    display: block;
    width: var(--breakpoint-sm);
    background-color: var(--color-lime-600);

    @apply leading-6\! text-base text-rose-400;
}

@variant dark {
    background-color: var(--color-lime-800);
}

@variant tabp {
    display: inline-block;
}
